@charset "UTF-8";

:root{
    --background-color:#00090E;
    --text-color:#E1E1E1;
    --primary-color:#81FE88;
    --secondary-color:#888888;
    --tag-color:#202729;
    --font-family: "Prompt", sans-serif;
    --itens-background:#171D1F;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);

    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
   
}
header{
    display: none;
}

.search-container {
    width: 98%;
    margin: 1rem 0;
}
.input-search:focus-within{
    outline: 2px solid var(--primary-color);
    border-radius: 0;

}
.input-search{
    padding: 10px 0;
    gap: 0;
    display: inline-flex;
    background-color: var(--itens-background);
    width: 100%;
}
.input-search button{
    border: none;
    background-color: var(--itens-background);
    width: 40px;
    height: 40px;
}
.input-search svg{
    background-color: var(--itens-background);
    color: var(--secondary-color);
    width: 20px;
    height: 20px;
}

.input-search input {
    width: 100%;
    background-color: var(--itens-background);
    padding: 10px; 
    border: none; 
    border-radius: 4px;
    caret-color:var(--primary-color);
    color: var(--text-color);
    text-decoration: 600;
    font-size: 18px;
}
.input-search input::placeholder{
    font-family: var(--font-family);
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 16px;
    opacity: 1;
}
.input-search input:focus{
    outline: none;
}

#content-main{
    margin: 1rem;
    width: 80%;
}



.recent-bar{
    width: 95%;
    margin: 1rem;
    display: block;
    text-align: center;

}

.recent-btn button{
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--primary-color);
    text-decoration: underline;
    background-color: var(--background-color);
    border: none;
}
.recent-btn button:hover{
    opacity: 0.8;
}

#feed-content{
    height: auto;
    padding: 1rem;
    gap: 25px;
    display: flex;
    flex-wrap: wrap;
}

.item{
    border-radius: 12px;
    width: 48%;
    height: 100%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    background-color: var(--itens-background);
}

.container-background-img{
    border-radius: 12px 12px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    width: 100%;
    height: 50%;
}
.container-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    padding: 1rem;
}
.container-img img{
    width: 100%;
    height: 100%;
    max-width: fit-content;
}

.container-desc-item{
    margin: 5px 10px;
    height: 50%;
}
.container-text h3{
    font-weight: 500;
    margin: 1rem 0 0;
    color: var(--text-color);
    opacity: 0.9;
}
.container-text p{
    color: var(--text-color);
    opacity: 0.8;
    font-weight: 400;
    margin: 0 0 3rem;
}


aside{
    text-align: center;
    background-color: var(--itens-background);
    border-radius: 10px;
    height: 1200px;
    padding: 40px 16px;
    width: 150px;

}
nav ul li{
    width: 100%;
    height: auto;
}
.list-links{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
    align-items: center;
    padding: 15px;
    list-style-type: none;
}
.list-links li a{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-decoration:none;
    color: var(--secondary-color);
    font-size: 22px;
}
.list-links li a:hover{
    color: var(--primary-color);
}

.link-destaque{
    border:1px solid var(--text-color);
    padding: 12px 30px;
    border-radius: 8px;
}
.link-destaque:hover{
    border: 1px solid var(--primary-color);
}
.space-bar{
    display: block;
    width: 100%;
}
.footer-item{
    margin: 12px 0 0 0;
    display: block;
    width: 100%;
}

.container-actions{
    width: 100%;
    height: 50px;
    max-height: 100%;
    display: inline-flex;
    align-items: end;
    justify-content: space-between;
}


.btn-actions{
    display: block;
}
.btn-actions button{
    text-align: center;
    width: 40px;
    height: 40px;
    border: none;
    background-color: var(--itens-background);
    color: var(--secondary-color);
}
.btn-actions svg{
    text-align: center;
}

.btn-actions button:hover{
    color: var(--primary-color);
}
.container-acount-service{  
    display: inline-flex;
    height: 100%;
    
}
.acount-service{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    max-width: 100%;
    width: 100%;
}
.acount-service a{
    text-decoration: none;
}
.acount-service a:hover{
    opacity: 0.8;
}

#id-acount{
    color: var(--primary-color);
    text-decoration: none;
    width: 86px;
    font-size: 13px;

}
#img-acount{
    border-radius: 50%;
    width: 100%;
    height: 35px;
    width: 35px;
}
.container-fixedBar{
    display: none;
}

.space-footer{
    width: 100%;
    padding: 200px 0;
}


@media(max-width:992px){
    body{
        flex-wrap: wrap;
    }
    section{
        margin: 0;
        display: flex;
        gap: 0;
        height: auto;
        max-width: 100%;
        width: 100%;
    }
    .recent-bar{
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
        align-items: center;
    }

    #content-main{
        width: 95%;
        height: auto;
    }
   
       
    .container-btn{
        width: 100%;
        display: flex;
        gap: 24px;
        justify-content: space-between;
    
    }
    .container-btn button{
        width: 100%;
        padding: 12px 32px 12px 32px;
        text-align: center;
        border-radius: 8px;
        font-family: var(--font-family);
        font-size: 18px;
        font-weight: 500;
    }
    
    h2{
        
        font-size: 26px;
        margin-bottom: 40px;
        font-weight: 600;
    }
    
    form{
        margin: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 20px;
        max-width: 900px;
        max-height: 100%;
    }
    form div label{
        font-size: 20px;
        font-weight: 400;
        display: block;
        margin-bottom: 8px;
    }
    form div input, 
    textarea{
        width: 100%;
        padding: 15px 16px;
        background-color: var(--secondary-color);
        border: none;
        border-radius: 4px;
        font-family: var(--font-family);
        line-height: 22.5px;
    
    }
    input:focus{
        outline: 2px solid var(--primary-color);
        border-radius: 0;
    }
    textarea:focus{
        outline: 2px solid var(--primary-color);
        border-radius: 0;
    }

    header{
        margin: 5px 10px 10px 0;
        width: 100%;
        display: grid;
        padding: 1px;
        gap: 20px;
    }
    .nav-container {
        margin: 0 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
    
    .link-destaque-header a{
        background-color: var(--background-color);
        border:1px solid var(--primary-color);
        padding: 12px 30px;
        border-radius: 8px;
        text-decoration: none;
        color: var(--primary-color);
        transition: ease-in-out 300ms;
        font-weight: 500;
    }
    .link-destaque-header a:hover{
        background-color: var(--primary-color);
        color: var(--itens-background);

    }
    #search-section{
        display: none;
    }
    #search-header {
        height: auto;
        width: 100%;
        margin: 0;
    }
    .search-container:focus-within{
        outline: 2px solid var(--primary-color);
        border-radius: 0;
    }
    .input-search{
        padding: 10px 8px;
        gap: 0;
        display: inline-flex;
        background-color: var(--itens-background);
    }
    .input-search button{
        border: none;
        background-color: var(--itens-background);
        width: 40px;
        height: 40px;
    }
    .input-search svg{
        background-color: var(--itens-background);
        color: var(--secondary-color);
        width: 20px;
        height: 20px;
    }
    
    .input-search input {
        width: 100%;
        background-color: var(--itens-background);
        padding: 10px; 
        border: none; 
        border-radius: 4px;
        caret-color:var(--primary-color);
    }
    .input-search input::placeholder{
        font-family: var(--font-family);
        color: var(--secondary-color);
        font-weight: 600;
        font-size: 16px;
        opacity: 1;
    }
    .input-search input:focus{
        outline: none;
    }

    #container-aside{
        display: none;
    }
    .container-fixedBar {
        display: grid;
        width: 100%;
        position: fixed; /* Fixa o contêiner na tela */
        bottom: 0;       /* Coloca o contêiner no rodapé */
        left: 0;
        z-index: 1000;   /* Garante que fique por cima de outros elementos */
        background-color: var(--itens-background);
        border-radius: 20px 20px 0 0;
    }
    
    .fixedBar {
        padding: 1rem 0;
        display: inline-flex;
        width: 100%;
    }
    
    .fixedBar-links {
        display: inline-flex;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        margin-right: 2rem;
    }
    
    .fixedBar-links li {
        list-style-type: none;
        margin: 0 1rem;
    }
    
    .fixedBar-links li a {
        display: inline-flex;
        flex-direction: column; /* Organiza a imagem acima do texto */
        align-items: center;
        text-decoration: none;
        color: white; /* Cor do texto */
        font-size: 14px;
        transition: color 300ms ease-in-out;
    }
    .fixedBar-links li a:hover{
        color: var(--primary-color);
    }
    .fixedBar-links li a:active{
        color: var(--primary-color);
    }
    
    .fixedBar-links li a img {
        width: 30px;
        margin-bottom: 5px; /* Espaçamento entre imagem e texto */
    }
    
    .fixedBar-links li a:hover {
        color: var(--primary-color); /* Efeito ao passar o mouse */
    }

    
    
}
@media(max-width: 791px){
    #feed-content{
        padding: 0;
    }
    #content-main{
        width: 90%;
        margin:0;
    }
    .recent-bar{
        margin: 1rem;
        display: block;
        width: 100%;
        height: 60px;
        text-align: center;
        align-items: center;
    }
    .item{
        width: fit-content;
    }
}


