@charset "UTF-8";

:root{
    --background-color:#00090E;
    --text-color:#E1E1E1;
    --primary-color:#81FE88;
    --secondary-color:#888888;
    --tag-color:#171D1F;
    --font-family: "Prompt", sans-serif;
    --itens-background:#171D1F;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);

    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
   
}
header{
    display: none;
}

section{
    margin: 1rem;
    display: flex;
    gap: 26px;
}

aside{
    background-color: var(--itens-background);
    border-radius: 10px;
    height: 100%;
    padding: 40px 16px;
    text-align: center;
    width: 15%;

}
nav li{
    display: flex;
}
nav li a:hover{
    color: var(--primary-color);
}
nav li a:active{
    color: var(--primary-color);
}

.list-links{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
    align-items: center;
    list-style-type: none;

}
.list-links li a{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-decoration:none;
    color: var(--secondary-color);
    font-size: 22px;        

}
.list-links li a:hover{
    color: var(--primary-color);
}

.link-destaque{
    border:1px solid var(--text-color);
    padding: 12px 30px;
    border-radius: 8px;
}
.link-destaque:hover{
    border: 1px solid var(--primary-color);
}
main{
    background-color: var(--itens-background);
    border-radius: 10px;
    padding: 30px;
    height: 100%;
    display: flex;
    gap: 24px;
    width: 100%;
    max-width: 1200px;
}
#btn-upload{
    margin: 16px 0 8px 0;
    background-color: var(--itens-background);
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    color: var(--secondary-color);
    width: 90%;
    text-align: center;
    padding: 12px;
    font-family: var(--font-family);
    font-size: 12px;
    position: relative;
}
#btn-upload::after{
    content: "";
    background-image: url("/src/img/upload.svg");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;

}

#btn-remove-upload{
    border: none;
    background-color: var(--itens-background);
    color: var(--secondary-color);

}
#btn-remove-upload:activex{
    color: var(--text-color);
}


.container-img-name{
    display: flex;
    gap: 8px;
    color: var(--secondary-color);
    font-size: 15px;

}
.main-img{
    border-radius: 8px;
    height: 100%;
    object-fit: cover;
}


.container-desc{
    width: 442px;
}

.container-btn{
    display: flex;
    gap: 24px;
    justify-content: space-between;

}

.container-btn button{
    width: 100%;
    padding: 12px 32px 12px 32px;
    text-align: center;
    border-radius: 8px;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
}

h2{
    font-size: 26px;
    margin-bottom: 40px;
    font-weight: 600;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    max-width: 500px;
    caret-color:var(--primary-color);
}
input::placeholder{
    color: var(--tag-color);
    font-size: 12px;
}
input:focus{
    outline: 3px solid var(--primary-color);
}

textarea:focus{
    outline: 3px solid var(--primary-color);
}
textarea::placeholder{
    color: var(--tag-color);
    font-size: 12px;
}
form div label{
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin-bottom: 8px;
}
form div input, 
textarea{
    width: 100%;
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 4px;
    font-family: var(--font-family);
    line-height: 22.5px;

}

textarea {
    width: 300px;
    height: 150px;
    resize: none;
  }
form div input{
    height: 39px;
}
textarea{
    height: 161px;
}

.list-tags li{
    display: flex;
    background-color: var(--secondary-color);
    color: var(--background-color);
    gap: 10px;
    padding: 4px 8px;
    border-radius: 4px;
    margin: 0 2px;
    
}

.list-tags {
    display: flex;
}
.btn-remove{
    background-color: var(--itens-background);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    position: relative;
    
}

.btn-remove::after{
    content: "";
    background-image: url("/src/img/trash.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
}

.btn-publish{
    background-color: var(--primary-color);
    color: var(--itens-background);
    border: none;
    position: relative;
    width: 100%;
    
    
}
.btn-publish::after{
    content: "";
    background-image: url("/src/img/arrow_forward2.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
}

.container-desc{
    width: 100%;
}
.main-img{
    border-radius: 8px;
    height: 350px;
    object-fit: cover;
    height: 100%;
    max-width: 1250px;
    max-height: 1200px;
    object-fit: cover;
}
.input-tags-container p{
    margin: 2px 3px;
    font-size: 11px;
    opacity: 0.7;
}

.input-tags-box{
    display: inline-flex;
    width: 100%;
    outline: none;
    
}
.input-tags-box:focus-within{
    outline: 2px solid var(--primary-color);
    border-radius: 4px;
    
}

.input-tags-box input{
    border-radius: 4px 0 0 4px;
    width: 80%;
    outline: none;
}
.input-tags-box button{
    width: 20%;
}
.input-tags-box button{
    font-family: var(--font-family);
    color: var(--itens-background);
    background-color: var(--primary-color);
    border: none;
    border-radius: 0 4px 4px 0;
    font-size: 12px;
    font-weight: 600;
    transition: ease 500ms;
}
.input-tags-box button:hover{
    color: var(--primary-color);    
    background-color: var(--itens-background);
    border: 2px solid var(--primary-color);
    transition: ease 500ms;

};
.input-tags-box button::after{
    color: var(--itens-background);
    background-color: var(--primary-color);

}

@media(min-width:1505px){
    .main-img{
        max-width: 1300px;
        width: 100%;
        border-radius: 8px;
        height: 100%;
        object-fit: cover;
    }
}
.container-img{
    height: 368px;
    padding: 24px 16px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 600px;


}
#btn-upload{
    margin: 16px 0 8px 0;
    background-color: var(--itens-background);
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    color: var(--secondary-color);
    width: 100%;
    text-align: center;
    padding: 12px;
    font-family: var(--font-family);
    font-size: 12px;
    position: relative;
}
#btn-upload::after{
    content: "";
    background-image: url("/src/img/upload.svg");
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;

}


.container-img-name{
    display: flex;
    gap: 8px;
    color: var(--secondary-color);
    font-size: 15px;
    max-width: 600px;

}

.danger{
    outline: 3px solid red;
    border-radius: 4px;

}

.danger::placeholder{
    color: red;
}
.danger:focus-within{
    outline: red;
    border-radius: 4px;
    border: 3px solid red;
}
.danger > input{
    color: rgb(182, 0, 0);
}
.danger button{
    color: var(--background-color);
    background-color: red;
    border:2px solid red;
}
.danger button:hover{
    border:2px solid red;
    color: red;
    background-color:var(--background-color);

}

.container-fixedBar{
    display: none;
}


@media(max-width:1500px){
    section{
        margin: 1rem;
        display: flex;
        gap: 26px;
        
        height: auto;
    }
    
    aside{
        background-color: var(--itens-background);
        border-radius: 10px;
        width: 200px;
        height: 100%;
        padding: 55px 16px;
        text-align: center;
        
    
    }
    main{
        background-color: var(--itens-background);
        border-radius: 10px;
        padding: 30px;
        height: 100%;
        display: flex;
        gap: 24px;
        width: 100%;
        max-width: 900;
    }
    .container-img{
        height: 368px;
        padding: 24px 16px;
        background-color: var(--secondary-color);
        border-radius: 8px;
        align-items: center;
        justify-content: center;
        display: flex;
    
    }
    form{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
    }
}
@media(max-width:1224px){
    section{
        margin: 2rem;
        display: flex;
        gap: 26px;
        width: 100%;
        height: auto;
    }
    
    aside{
        background-color: var(--itens-background);
        border-radius: 10px;
        width: 20%;
        height: 100%;
        padding: 55px 16px;
        text-align: center;
        
    
    }
    .link-destaque{
        border:1px solid var(--primary-color);
        padding: 9px 18px;
        border-radius: 8px;
        width: 100%;
    }
    main{
        background-color: var(--itens-background);
        border-radius: 10px;
        padding: 30px;
        height: 100%;
        display: flex;
        gap: 24px;
        width: 100%;
        max-width: 900;
    }
    .container-img{
        height: 368px;
        padding: 24px 16px;
        background-color: var(--secondary-color);
        border-radius: 8px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}
@media(max-width:992px){
    body{
        height: 100vh;
        flex-wrap: wrap;
        
    }
    section{
        margin: 0 2rem;
        display: flex;
        gap: 0;
        height: 1320px;
        max-width: 100%;
        width: 100%;
    }
    main{
        flex-direction: column;
        background-color: var(--itens-background);
        border-radius: 10px;
        padding: 30px;
        height: 100%;
        display: flex;
        gap: 0;
        width: 100%;
        
    }
    
    .container-img{
        max-width: 100%;
        width: 850px;
        height: 478px;
        padding: 24px 16px;
        background-color: var(--secondary-color);
        border-radius: 8px;
    
    }
    .container-img-name{
        display: flex;
        gap: 8px;
        color: var(--secondary-color);
        font-size: 15px;
    
    }
    .main-img{
        border-radius: 8px;
        height: 100%;
        object-fit: cover;
        max-height: 90%;
    
    }
    .container-desc{
        margin: 0 1rem;
        width: 96%;
        height: 100%;
    }
    .container-btn{
        width: 100%;
        display: flex;
        gap: 24px;
        justify-content: space-between;
    
    }
    .container-btn button{
        width: 100%;
        padding: 12px 32px 12px 32px;
        text-align: center;
        border-radius: 8px;
        font-family: var(--font-family);
        font-size: 18px;
        font-weight: 500;
    }
    
    h2{
        
        font-size: 26px;
        margin-bottom: 40px;
        font-weight: 600;
    }
    
    form{
        margin: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 20px;
        max-width: 900px;
        max-height: 100%;
    }
    form div label{
        font-size: 20px;
        font-weight: 400;
        display: block;
        margin-bottom: 8px;
    }
    form div input, 
    textarea{
        width: 100%;
        padding: 15px 16px;
        background-color: var(--secondary-color);
        border: none;
        border-radius: 4px;
        font-family: var(--font-family);
        line-height: 22.5px;
    
    }
    input:focus{
        outline: 2px solid var(--primary-color);
        border-radius: 0;
    }
    textarea:focus{
        outline: 2px solid var(--primary-color);
        border-radius: 0;
    }

    header{
        margin: 1rem;
        width: 100%;
        display: grid;
        padding: 10px;
    }
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
    
    .img-header img {
        height: 50px; 
    }
    
    .link-destaque-header a{
        background-color: var(--background-color);
        border:1px solid var(--primary-color);
        padding: 12px 30px;
        border-radius: 8px;
        text-decoration: none;
        color: var(--primary-color);
        transition: ease-in-out 300ms;
        font-weight: 500;
    }
    .link-destaque-header a:hover{
        background-color: var(--primary-color);
        color: var(--itens-background);

    }
    .search-container {
        margin: 1rem;
    }
    .search-container:focus-within{
        outline: 2px solid var(--primary-color);
        border-radius: 0;
    }
    .input-search{
        padding: 10px 8px;
        gap: 0;
        display: inline-flex;
        background-color: var(--itens-background);
        width: 100%;
    }
    .input-search button{
        border: none;
        background-color: var(--itens-background);
        width: 40px;
        height: 40px;
    }
    .input-search svg{
        background-color: var(--itens-background);
        color: var(--secondary-color);
        width: 20px;
        height: 20px;
    }
    
    .input-search input {
        width: 100%;
        background-color: var(--itens-background);
        padding: 10px; 
        border: none; 
        border-radius: 4px;
        caret-color:var(--primary-color);
    }
    .input-search input::placeholder{
        font-family: var(--font-family);
        color: var(--secondary-color);
        font-weight: 600;
        font-size: 16px;
        opacity: 1;
    }
    .input-search input:focus{
        outline: none;
    }

    aside{
        display: none;
    }
    .container-fixedBar {
        display: grid;
        width: 100%;
        position: fixed; /* Fixa o contêiner na tela */
        bottom: 0;       /* Coloca o contêiner no rodapé */
        left: 0;
        z-index: 1000;   /* Garante que fique por cima de outros elementos */
    }
    
    .fixedBar {
        padding: 1rem;
        display: inline-flex;
        width: 100%;
        background-color: #333; /* Personalize conforme necessário */
    }
    
    .fixedBar-links {
        display: inline-flex;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    
    .fixedBar-links li {
        list-style-type: none;
        margin: 0 1rem;
    }
    
    .fixedBar-links li a {
        display: inline-flex;
        flex-direction: column; /* Organiza a imagem acima do texto */
        align-items: center;
        text-decoration: none;
        color: white; /* Cor do texto */
        font-size: 14px;
        transition: color 300ms ease-in-out;
    }
    .fixedBar-links li a:hover{
        color: var(--primary-color);
    }
    .fixedBar-links li a:active{
        color: var(--primary-color);
    }
    
    .fixedBar-links li a img {
        width: 30px;
        margin-bottom: 5px; /* Espaçamento entre imagem e texto */
    }
    
    .fixedBar-links li a:hover {
        color: #FFD700; /* Efeito ao passar o mouse */
    }
    
}
@media(max-width:624px){
    .main-img{
        border-radius: 8px;
        height: 100%;
        object-fit: cover;
        max-height: 300px;
    
    }
    .container-img{
        width: 100%;
        height: 100%;
    }
    main{
        flex-direction: column;
        background-color: var(--itens-background);
        border-radius: 10px;
        padding: 30px;
        height: 1220px;
        display: flex;
        gap: 60px;
        width: 100%;
        
    }
    .container-desc{
        margin: 2rem 0;
        width: 100%;
        height: 900px;
    }
}

@media(max-width:500px){
    section{
        margin: 0 2rem;
        display: flex;
        gap: 0;
        height: auto;
        max-width: 100%;
        width: 100%;
    }
    main{
        flex-direction: column;
        background-color: var(--itens-background);
        border-radius: 10px;
        padding: 30px;
        height: 1220px;
        display: flex;
        gap: 0;
        width: 100%;
        
    }
    
    .container-img{
        width: 100%;
        height: auto;
        padding: 24px 16px;
        background-color: var(--secondary-color);
        border-radius: 8px;
    
    }
    .container-img-name{
        display: flex;
        gap: 8px;
        color: var(--secondary-color);
        font-size: 15px;
    
    }
    .main-img{
        max-width: 500px;
        width: 100%;
        border-radius: 8px;
        height: 100%;
        object-fit: cover;
    
    }
    .container-desc{
        margin: 0;
        width: 100%;
        height: 100%;
    }
    .container-btn{
        width: 100%;
        display: flex;
        gap: 24px;
        justify-content: space-between;
    
    }
    .container-btn button{
        width: 100%;
        padding: 12px 32px 12px 32px;
        text-align: center;
        border-radius: 8px;
        font-family: var(--font-family);
        font-size: 18px;
        font-weight: 500;
    }
    
    h2{
        margin: 1rem 0;
        font-size: 26px;
        margin-bottom: 40px;
        font-weight: 600;
    }
    
    form{
        margin: 0;
        display: flex;
        flex-direction: column;
        width: 330px;
        height: auto;
        gap: 20px;
        max-width: 100%;
        max-height: 100%;
    }
    form div label{
        font-size: 20px;
        font-weight: 400;
        display: block;
        margin-bottom: 8px;
    }
    form div input, 
    textarea{
        width: 100%;
        padding: 15px 16px;
        background-color: var(--secondary-color);
        border: none;
        border-radius: 4px;
        font-family: var(--font-family);
        line-height: 22.5px;
    
    }

    .nav-container{
        gap: 2px;
    }
    .link-destaque-header a{
        background-color: var(--background-color);
        border:1px solid var(--primary-color);
        padding: 10px 18px;
    }

    .search-container {
        margin: 0.8rem 0.3rem;
    }
    .container-desc{
        margin: 0 1rem;
        width: 96%;
        height: 100%;
    }
    
}
@media(max-width:350px){
    section{
        margin: 0 2rem;
        display: flex;
        gap: 0;
        height: auto;
        width: 100%;
    }
    main{
        flex-direction: column;
        background-color: var(--itens-background);
        border-radius: 10px;
        padding: 30px;
        height: 1220px;
        display: flex;
        gap: 0;
        width: 100%;
        
    }
    
    .container-img{
        width: 100%;
        height: 228px;
        padding: 24px 16px;
        background-color: var(--secondary-color);
        border-radius: 8px;
    
    }
    .container-img-name{
        display: flex;
        gap: 8px;
        color: var(--secondary-color);
        font-size: 15px;
    
    }
    .main-img{
        border-radius: 8px;
        height: 100%;
        object-fit: cover;
    
    }
    .container-desc{
        margin: 0;
        width: 100%;
        height: 100%;
    }
    .container-btn{
        width: 50%;
        display: flex;
        gap: 24px;
        text-align: center;
        justify-content: space-between;
    
    }
    .container-btn button{
        width: 100%;
        padding: 10px 30px;
        text-align: center;
        border-radius: 8px;
        font-family: var(--font-family);
        font-size: 18px;
        font-weight: 500;
    }
    
    h2{
        margin: 1rem 0;
        font-size: 26px;
        margin-bottom: 40px;
        font-weight: 600;
    }
    
    form{
        margin: 0;
        display: flex;
        flex-direction: column;
        width: 250px;
        height: auto;
        gap: 20px;
        max-width: 320px;
        max-height: 100%;
    }
    form div label{
        font-size: 15px;
        font-weight: 400;
        display: block;
        margin-bottom: 8px;
    }
    form div input, 
    textarea{
        width: 100%;
        padding: 15px 16px;
        background-color: var(--secondary-color);
        border: none;
        border-radius: 4px;
        font-family: var(--font-family);
        line-height: 22.5px;
    
    }

    .nav-container{
        gap: 2px;
    }
    .link-destaque-header a{
        background-color: var(--background-color);
        border:1px solid var(--primary-color);
        padding: 10px 18px;
    }

    .search-container {
        margin: 0.8rem 0.3rem;
    }
    .container-desc{
        margin: 0 1rem;
        width: 96%;
        height: 100%;
    }
}