@charset "UTF-8";

:root{
    --background-color:#00090E;
    --text-color:#E1E1E1;
    --primary-color:#81FE88;
    --secondary-color:#888888;
    --tag-color:#171D1F;
    --font-family: "Prompt", sans-serif;
    --itens-background:#171D1F;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);

    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    
    padding: 56px 0;
}
section{
    border-radius: 20px;
    background-color: var(--itens-background);
    margin: 10px;
    width: 800px;
    display: flex;
    height: 770px;
    align-self: center;
    justify-content: center;
    
    
}
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 20px;
    gap: 27px;
}

.container-img {
    margin: 1rem;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    display: flex;
}
.container-img img {
    width: 650px;
    max-width: 100%;
    height: auto;
}

#fundoLogo{
    width: 450px;
    height: 600px;
}
.container-main{
    height: 500px;
    width: 50%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.container-main h2{
    font-weight: 600;

}
.container-main h3{
    font-size: 18px;
    font-weight: 400;
    line-height: 10px;
    margin: 1.5rem 0;
}
.container-form{
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.container-form form{
    display: flex;
    flex-direction: column;
}
.container-form form label{
    margin: 0;
    font-size: 15px;
}
input{
    margin: 5px 2px;
    outline: none;
    width: 100%;
    border: none;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    border: solid var(--secondary-color);
}
input::placeholder{
    color: var(--background-color);
}
input:focus{
    border: solid var(--primary-color);
}

.container-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btnStyle { 
    width: 250px;
    border-radius: 10px;
    display: inline;
    margin: 5px;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--itens-background);
    font-weight: 500;
    border: solid var(--itens-background);
    transition: ease-in-out 300ms;
}
.btnStyle:hover{
    color: var(--primary-color);
    background-color: var(--itens-background);
    border: solid var(--primary-color);
    transition: ease-in-out 300ms;

}

.container-checkbox{
    margin: 3px;
    display: flex;
    align-items: center;
}

.container-checkbox input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}
.container-checkbox span{
    text-align: end;
    margin: 0 11px;
    opacity: 0.7;
    font-size: 13px;
}
.container-checkbox span a{
    font-size: 12px;
    color: var(--text-color);
    text-decoration: underline;
}
#textHrSpan{
    display: inline-flex;
    text-align: center;
    width: 100%;
}
hr{
    display: flex;
    padding: 0;
    width: 10%;
    border: 1px solid var(--text-color);
}
#textHrSpan span{
    font-size: 15px;
    margin-top: 5px;
    opacity: 0.7;
}

.social-icons{
    margin: 1rem;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    transition: ease-in-out 300ms;
}
.social-icons a{
    text-align: center;
    margin: 0 5px;
    color: var(--text-color);
}
.social-icons a:hover{
    color: var(--primary-color);
    text-decoration: none;
    transition: ease-in 300ms;
}

.social-icons svg{
    width: 100%;
    text-align: center;
}

.container-login{
    
    text-align: center;
    width: 100%;  
}
.container-login p{
    font-size: 13px;
    margin: 10px 0 0 8px;
}
.container-login a{
    color: var(--primary-color);
    text-decoration: none;
    
}
.container-login a:hover{
    opacity: 0.8;
}
